<div class="uk-container uk-margin-small-top uk-margin-small-bottom">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <!-- <ul class="uk-navbar-nav">
                <li>Meu Carrinho</li>
            </ul> -->
            <h3 class="uk-text-right">Meu Carrinho</h3>
        </div>
        <div class="uk-navbar-right">
            <div class="uk-text-right">
                <a href="#" class="uk-button uk-button-large uk-button-primary uk-margin-small-right">
                    limpar carrinho
                </a>
            </div>
        </div>
    </nav>
</div>
<div class="uk-container">
    <div class="uk-grid-small" uk-grid>
        <div class="uk-width-expand" uk-leader>
            <img src="https://placehold.it/64" class="uk-align-left" alt="">
            <a href="#">Shampoo para pelos macios</a>
            <br>
            <strong>2 unidades</strong>
        </div>
        <div>
            <br>
            <span>R$ 20,90</span>
            <a href="#" class="uk-button uk-button-link uk-align-right">
                <span class="uk-icon" uk-icon="icon: close"></span>
            </a>
        </div>
    </div>
</div>
<div class="uk-container">
    <div class="uk-text-right">
        <h3 class="uk-text-right"></h3>
        <a href="/checkout" class="uk-button uk-button-large uk-button-primary uk-margin-small-bottom">
            FINALIZAR COMPRA
        </a>
    </div>
</div>